= form_tag contact_forms_path, remote: true, id: 'spina_contact_form' do
  - contact_form_elements.each do |element|
    %label
      - if element.required?
        *
      = element.label
    = spina_contact_form_input(element.label, element.input_type)
  %button{type: 'submit'} Send
